<!-- isso é uma tag html <html> -->
<!-- Configurações do meu documento <head> -->
<!-- Todo conteúdo visível deverá vir na tag <body> -->
<!--
 HTML

 HyperText
     HíperTexto

 Markup
     Marcação

 Language
     Linguagem
-->

<!DOCTYPE html> <!-- Para conversar com os navegadores que está utilizando HTML5-->
<html lang="pt_br"> <!-- lang é um atributo-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Proffy | Sua plataforma de estudos online</title>

</head>
<body id="page-landing"> <!-- Criação de Id -->

    <div id="container">
        <div class="logo">
            <div class="logo-container"> <!-- Criação de Classe -->
                <img src="/images/logo.svg" alt="Proffy">
                <h2>Sua plataforma de estudos online</h2>
            </div>
    
            <img class="hero-image" src="images/landing.svg" alt="Plataforma de Estudos">
        </div>
        
        
        <div class="landing-footer">
            <div class="footer-text">
                <h3>Seja bem-vindo.<br><strong>O que deseja fazer?</strong></h3>

                <p class="total-connections">
                    Total de 200 conexões já realizadas
                    <img src="/images/icons/purple-heart.svg" alt="Coração roxo"> 
            </div>

            <div class="buttons-container">
                <a class="study" href="/study">
                    <img src="/images/icons/study.svg" alt="Estudar">
                    Estudar
                </a>
    
                <a class="give-classes" href="/give-classes">
                    <img src="/images/icons/give-classes.svg" alt="Dar Aulas">
                    Dar Aulas
                </a>
            </div>

        </div>
    </div>
</body>
</html>